body{
    margin: 0px;

}




.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: aqua;
    /* margin: 0px; */
    /* padding: 0px; */
    top: 0px;
    width: 100%;
    border: 2px solid black;



}
.navbar ul{
    display: flex;
    gap: 90px;
    list-style: none;
    /* justify-content: space-around; */
}

.span{

display: flex;
justify-content: space-evenly;
background-color: blue;


}
.web1{
    position: relative;
}

.content{
    background-color: antiquewhite;
    position: absolute;
    bottom: 10px;
    left: 10px;

}