#headpart{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(83, 114, 72);
    justify-content: space-between;
}

#headpart nav ul{
    display: flex;
    gap: 80px;
     
}

#headpart div{
display: flex;
gap: 100px;

}