.task{

display: flex;

}
h1{

    border: 2px solid black;
    margin: 20px;
    padding-top: 100;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;

}
h2{
padding-top: 40px;
font-size:40px;

}

.ro{


 border: 2px solid  black;
 color: white;
 background-color: black;
 border-radius: 80px;
 margin-left: 30px;
 margin-right: 30px;
}
p{
    font-size: large;
}
