body{
    background-color: white
}
.containetr{
    background-color: black;
}
.head1{

color: red;
text-align: center;
font-size: 60px;
text-transform: capitalize;
text-decoration: underline;
text-decoration-color: blue;
text-decoration-style: wavy;
letter-spacing: 30px;
text-shadow: 10px 10px 5px blue;
}
.para{
font-weight: bold;
font-style: italic;
word-spacing: 50px;
line-height: 60px;
}

.wrapper{

background-color: tomato;
color: white;
padding: 20px;


}
.wrapper1{
    background-color: blue;
    color: whitesmoke;
    padding: 20px;
    margin: 20px;
    border-right: 13px solid yellowgreen;
    border-top-left-radius: 30px;
    width: 200px ;
  box-shadow: 3px 4px 6px 7px black ;
}
.parent{

display: flex;


}
h1{

border: 2px solid red;
margin: 20px;

padding-top: 40px; 


}